/* fonte */
@font-face {
    font-family: "Mikalea";
    src: url("../fonts/Mikalea.ttf");
}


/* cores */
:root{
    --color1:#020826;
    --color2:#8b8bc7;
    --color3:#b3b3e6;
    --color4:#d9d9d9;
    --color5:#ffffff;
    --color6:#8d8db8;
    --font-family: 'Rambla', sans-serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* fundo */
body{
    background-color: var(--color1);
    height: 900px;
    font-family: "Rambla";

}

/* container */
.container{
    width: 100%;
    height: 900px;
}

/* logo */
.logo{
    text-align: center;
    color: var(--color3);
    font-size: 70px;
    margin-top: 20px;
    font-family: "Mikalea";
}

.ultra{
    color: var(--color6);
}

/* caixa de login */
.login-box{
    width: 100%;
    height: 800px;
    background-color: var(--color2);
    margin: 40px auto;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

/* título login */
.login-box h2{
    color: var(--color5);
    font-size: 55px;
    margin-bottom: 40px;
    font-family: "Mikalea";
}

.login-box label{
    width: 40%;
    color: var(--color5);
    margin-bottom: 5px;
    font-family: "Rambla";
    font-size: 40.37;
}

/* inputs */
.login-box input{
    width: 40%;
    padding: 10px;
    border:none;
    border-radius: 8px;
    background-color: var(--color4);
    margin-bottom: 25px;
    font-family: "Rambla";
    font-size: 40.37;

}

/* botão */
.login-box button{
    padding: 10px 35px;
    border:none;
    border-radius: 10px;
    background-color: var(--color1);
    color: var(--color5);
    font-size: 16px;
    cursor: pointer;
    font-family: "Rambla";
    font-size: 40.37;

}