:root{
    --color1:#0A1123;
    --color2:#8387C4;
    --color3:#9692C1;
    --color4:#B9B2E8;
    --color5:#D9D9D9;
    --color6:#898CAB;
    --font-text:Arial, Helvetica, sans-serif;
    --font-family: 'Rambla', sans-serif;
}
@font-face {
    font-family: 'Mikalea';
    src: url('../fonts/Mikalea.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


h1{
    font-family: 'Mikalea', serif;
    color: var(--color6);
    font-size:78.75px;
    font-weight: 400;
    width: 368px;
    height: 76px;
    position: absolute;
    left: 63px;
    top: 37px;
}

span{
    font-family: 'Mikalea', serif;
    color: var(--color4);
    font-size:78.75px;
}

h2{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 76.3px;
}

h3{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30.7px;
}

h4{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23.71px;
}


body{
    background-color: var(--color1);
}